# HTPasswd Secret Template for SNO Disconnected
# Usage: envsubst < htpasswd-secret.yaml.template | oc apply -f -
#
# Required environment variables:
#   HTPASSWD_DATA - Base64 encoded htpasswd file content
#
# Generate HTPASSWD_DATA:
#   htpasswd -cbB /tmp/htpasswd admin '<password>'
#   htpasswd -bB /tmp/htpasswd developer '<password>'
#   export HTPASSWD_DATA=$(base64 -w0 /tmp/htpasswd)
#   rm /tmp/htpasswd
---
apiVersion: v1
kind: Secret
metadata:
  name: htpasswd-secret
  namespace: openshift-config
  labels:
    app.kubernetes.io/name: htpasswd-secret
    app.kubernetes.io/component: oauth
    app.kubernetes.io/part-of: sno-disconnected
type: Opaque
data:
  htpasswd: ${HTPASSWD_DATA}
